
/* ------------------------ AJOUT POLICE  ------------------------ */

@font-face { // LATO - REGULAR  
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face { // YESEVA ONE - REGULAR
    font-family: 'Yeseva';
    src: url("../fonts/YesevaOne-Regular.ttf");
}

@font-face { // OPEN - REGULAR / ITALIC (LIGHT OU R ??) / BOLD
    font-family: 'Open';
    src: url("../fonts/OpenSans-Regular.ttf");
}


// @font-face { // GENTIUM BOOK BASIC - BOLD
//     font-family: 'Gentium book';
//     src: url("../fonts/GenBkBasB.ttf");
// }



/* ------------------------ GENERAL ------------------------ */


// nav {
//     font-family: 'Gentium Book Basic', 'Yeseva', sans-serif;
// }